<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #212121;
            margin: 0;
            padding: 20px;
            color: white;
        }
        h1 {
            text-align: center;
        }
        form {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        input[type="text"] {
            width: 300px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        button {
            padding: 10px 15px;
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #218838;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        a {
            color: white;
        }
    </style>
</head>
<body>
    <h1>URL Shortner</h1>
    <form action="http://localhost:3000/url/api/create", method="post">
        <label for="originalUrl">Enter URL to shorten:</label>
        <input type="text" id="originalUrl" name="originalUrl" required>
        <button type="submit">Shorten</button>
    </form>
    <h2>Welcome, <%= locals.fullname %>!</h2>
    <h3>Your Links</h3>
    <table border="1" padding="10px">
        <thead>
            <tr>
                <th>Original URL</th>
                <th>Shortened URL</th>
                <th>Total Clicks</th>
            </tr>
        </thead>
        <tbody>
            <% if (locals.urlDocs && locals.urlDocs.length > 0) { %>
                <% locals.urlDocs.forEach(function(link) { %>
                    <tr>
                        <td><a href="<%= link.redirectUrl %>" target="_blank"><%= link.redirectUrl %></a></td>
                        <td><a href="http://localhost:3000/url/<%= link.shortId %>" target="_blank">http://localhost:3000/url/<%= link.shortId %></a></td>
                        <td><%= link.historyClicked.length %></td>
                    </tr>
                <% }); %>
            <% } else { %>
                <tr>
                    <td colspan="2">No links found.</td>
                </tr>
            <% } %>
        </tbody>
        
    </table>
</body>
</html>